@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Frijole&family=Nosifer&family=Rye&display=swap");
$font-size-header: 2.5em;
$font-size-info-type: 1.5em;
$font-size-card-info: 1.4em;
$main-bg: #322f2f;
$primary-color: #ffffff;
$secondary-color: #e7ff2c;
$primary-font: "Bai Jamjuree", sans-serif;
$secondary-font: "Audiowide", cursive;
$logo-font: "Frijole", cursive;
