@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Frijole&family=Nosifer&family=Rye&display=swap");
.watch-list {
  border-top-right-radius: 30px;
  background-color: #e7ff2c;
  font-size: 15px;
  font-family: "Bai Jamjuree", sans-serif;
  width: calc(max(35vw, 280px));
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
  visibility: hidden;
  position: fixed;
  z-index: 100;
  padding: 30px;
  min-height: 100%;
  overflow: hidden;
  -webkit-transition-property: opacity, visibility, width, font-size, -webkit-transform;
  transition-property: opacity, visibility, width, font-size, -webkit-transform;
  transition-property: transform, opacity, visibility, width, font-size;
  transition-property: transform, opacity, visibility, width, font-size, -webkit-transform;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  opacity: 0;
  top: 0;
}

.watch-list .watch-list__header {
  border-bottom: 1px solid;
  padding-bottom: 20px;
  margin-bottom: 20px;
  text-align: right;
}

.watch-list .list__title {
  color: #322f2f;
  font-size: calc(min(1.75vw, 1.3em));
  font-size: calc(7px + 1vw);
  font-weight: bold;
  font-family: "Audiowide", cursive;
}

.watch-list .list-container {
  margin-top: 5px;
  max-height: 500px;
  overflow-y: auto;
  border-bottom: 1px solid;
  -webkit-box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.4), inset 0 6px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.4), inset 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.watch-list .list-container::-webkit-scrollbar {
  width: 12px;
}

.watch-list .list-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 10px;
  background-color: #ffffff;
}

.watch-list .list-container::-webkit-scrollbar-thumb {
  background-color: #322f2f;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.list__item {
  border-bottom: 1px solid #322f2f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
}

.list__item .list__item-name {
  display: inline-block;
  width: 50%;
  text-align: left;
}

.list__item .list__item-date {
  display: inline-block;
  width: 50%;
  text-align: right;
}

.watch-list__button-close {
  font-size: 2em;
  text-align: right;
  cursor: pointer;
  border: none;
  background: none;
}

.watch-list__button-close:hover {
  -webkit-transform: rotate(25deg) scale(1.3);
          transform: rotate(25deg) scale(1.3);
  color: red;
}

.watch-list__button-close:focus {
  outline: none;
  -webkit-transform: rotate(60deg) scale(1.3);
          transform: rotate(60deg) scale(1.3);
  color: #322f2f;
}

.watch-list-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.watch-list-footer .footer-buttons {
  background-color: #e7ff2c;
  border: 1.5px solid #322f2f;
  padding: 2px;
  border-radius: 15px;
  cursor: not-allowed;
  font-size: calc(min(3vw, 6em));
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.watch-list-footer .footer-buttons:hover {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.watch-list-footer .footer-buttons:focus {
  outline: none;
}

.watch-list-footer .footer-buttons a {
  color: #1da1f2;
}

@media (max-width: 285px) {
  .watch-list {
    width: 80%;
    padding: 10px;
  }
  .list__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .list__item .list__item-date {
    width: 100%;
  }
  .list__item .list__item-name {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .watch-list {
    font-size: 13px;
    padding: 20px;
  }
}
/*# sourceMappingURL=list.css.map */