@import "./variables";

.main {
  position: relative;
  font-size: 10px;
}

.nav-bar {
  top: 0;
  width: 100%;
  background-color: $main-bg;
  z-index: 99;
  position: sticky;
  display: flex;
  justify-content: space-between;
  padding: 0.7rem 15rem;
  gap: 1rem;
  align-items: center;
  font-size: $font-size-info-type;
  font-family: $primary-font;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  .nav-bar__logo {
    transition: all 0.3s;
    color: $secondary-color;
    font-weight: 700;
    font-size: 1.7em;
    font-family: $logo-font;
    cursor: pointer;
    .fa-television {
      animation: flicker 1s ease-in-out infinite alternate;
    }
  }
  .navbar-bar__content {
    display: flex;
    gap: 15px;
    align-items: center;
  }
}
.nav-bar__save {
  color: $primary-color;
  font-weight: 700;
  padding: 3px;
  cursor: pointer;
  border-radius: 5px;
  &:hover {
    color: $secondary-color;
  }
}
.nav-bar__list {
  font-weight: 700;
  padding: 3px;
  cursor: pointer;
  border-radius: 5px;
  color: $primary-color;
  &:hover {
    color: $secondary-color;
  }
}

.main-movies {
  justify-self: center;
  border: 1px solid white;
  width: 80vw;
  margin: 2em auto;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  // justify-content: stretch;
}

.shrink {
  transition: all 0.3s;
  padding: 0.5rem 15rem;
  .nav-bar__logo {
    font-size: 1.3em;
  }
}

//flickering animation
@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff,
      0 0 40px $secondary-color, 0 0 80px $secondary-color,
      0 0 90px $secondary-color, 0 0 100px $secondary-color,
      0 0 150px $secondary-color;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}
