@import "./variables";

.main {
  position: relative;
  font-size: 10px;
}

.nav-bar {
  top: 0;
  width: 100%;
  background-color: $main-bg;
  z-index: 99;
  position: sticky;
  display: flex;
  justify-content: space-between;
  padding: 0.7rem 15rem;
  gap: 1rem;
  align-items: center;
  font-size: $font-size-info-type;
  font-family: $primary-font;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  .nav-bar__logo {
    transition: all 0.3s;
    color: $secondary-color;
    font-weight: 700;
    font-size: 1.7em;
    font-family: $logo-font;
    cursor: pointer;
    .fa-television {
      animation: flicker 1s ease-in-out infinite alternate;
    }
  }
  .navbar-bar__content {
    display: flex;
    gap: 15px;
    align-items: center;
  }
}
.nav-bar__save {
  color: $primary-color;
  font-weight: 700;
  padding: 3px;
  cursor: pointer;
  border-radius: 5px;
  &:hover {
    color: $secondary-color;
  }
}
.nav-bar__list {
  font-weight: 700;
  padding: 3px;
  cursor: pointer;
  border-radius: 5px;
  color: $primary-color;
  &:hover {
    color: $secondary-color;
  }
}

.section-title {
  color: $primary-color;
  font-family: $secondary-font;
  font-size: 3em;
  border-bottom: 1px solid;
  padding-bottom: 20px;
}

.main-movies {
  justify-self: center;
  grid-template-columns: repeat(auto-fit, 300px);
  width: 90vw;
  margin: 2em auto;
  display: grid;
  gap: 10px;
  justify-content: center;
}
// .main-movies {
//   justify-self: center;
//   width: 90vw;
//   margin: 2em auto;
//   display: flex;
//   gap: 10px;
//   flex-wrap: wrap;
//   justify-content: center;
// }

.premiered-header {
  background-color: $main-bg;
  position: sticky;
  z-index: 99;
}

.premiered-movies {
  padding: 10px 0 0 0;
  margin: auto;
  width: fit-content;
  height: 850px;
}

.premiered-movies .movie-card {
  overflow: hidden;
  width: 2vw;
  box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  float: left;
  border-left: 1px solid #888;
  display: block;
  transition: all 0.5s;
}

.premiered-movies .movie-card .movie-card__container-image {
  height: 650px;
}

.premiered-movies:hover .movie-card {
  // width: calc((44vw - 50px) / 14);
  // width: max(2.5vw);
  width: 1vw;
}

.premiered-movies .movie-card:hover {
  width: 400px;
}

.shrink {
  transition: all 0.3s;
  padding: 0.5rem 15rem;
  .nav-bar__logo {
    font-size: 1.3em;
  }
}

//flickering animation
@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff,
      0 0 40px $secondary-color, 0 0 80px $secondary-color,
      0 0 90px $secondary-color, 0 0 100px $secondary-color,
      0 0 150px $secondary-color;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

@media screen and (max-width: 939px) {
  .premiered-movies {
    height: 850px;
  }

  .premiered-movies .movie-card {
    width: 3vw;
  }
  .premiered-movies:hover .movie-card {
    // width: calc((44vw - 50px) / 14);
    // width: max(2.5vw);
    width: 2vw;
  }
  .premiered-movies .movie-card .movie-card__container-image {
    height: 500px;
  }
  .premiered-movies .movie-card:hover {
    width: 300px;
  }
}
