@import "./variables";
@use "./variables";
@import "./mixins";

.movie-card {
  transition: all 0.3s;
  position: relative;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  // min-width: 300px;
  width: 300px;
  display: block;
  // flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  color: $primary-color;
  font-family: $primary-font;
  .movie-card__container-image {
    position: relative; //ensures the text summary is within the container
    max-width: 100%;
    height: 350px;
    overflow: hidden;
    .movie__image {
      object-position: 50% 50%;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .movie__summary {
      position: absolute;
      padding: 1em;
      background-color: $primary-color;
      color: $main-bg;
      bottom: 0;
      opacity: 0;
      max-height: 100%;
      left: 0;
      right: 0;
      transform: translateY(100%);
      transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
      font-size: $font-size-card-info;
    }
  }
  .movie__info {
    display: grid;
    grid-template-rows: 0.5fr repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    .movie__title {
      @include thin-border(bottom, 0.3);
      grid-column: 1/4;
    }
  }
}
.movie__info {
  :first-child {
    font-size: $font-size-card-info;
  }
  .movie__info-type {
    font-size: $font-size-info-type;
    font-weight: bold;
  }
  .bottom {
    @include thin-border(bottom, 0.3);
  }
  .right {
    @include thin-border(right, 0.3);
  }
  .movie__follow {
    cursor: pointer;
  }
}

.movie-card__container-image:hover {
  .movie__summary {
    z-index: 1;
    opacity: 1;
    overflow-y: auto;
    transform: translateY(0%);
  }
  .movie__image {
    z-index: -1;
    filter: blur(2px);
  }
}

.movie__summary {
  &::-webkit-scrollbar {
    width: 7px;
    background-color: $primary-color;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $main-bg;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }
}
